<h4>Lyft</h4>
<hr>
<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th>Service</th>
      <th>Duration</th>
      <th>Min Price</th>
      <th>Max Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let price of prices">
      <td>{{price.display_name}}</td>
      <td>{{price.estimated_duration_seconds | seconds}}</td>
      <td>{{price.estimated_cost_cents_min / 100 | currency}}</td>
      <td>{{price.estimated_cost_cents_max / 100 | currency}}</td>
    </tr>
  </tbody>
</table>