<p class="lead" *ngIf="submitted && !finished">Loading...</p>

<agm-map [latitude]="coords.geometry.location.lat"
         [longitude]="coords.geometry.location.lng"
         
         [zoom] = "12"
         *ngIf="loaded && finished">

         <agm-marker *ngFor="let place of places" [latitude]="place.geometry.location.lat" [longitude]="place.geometry.location.lng">
            <agm-info-window>{{place.name}}</agm-info-window>
         </agm-marker>>
</agm-map>

<table class="table table-bordered table-striped table-hover" *ngIf="loaded && finished">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
      <tr *ngFor="let place of places">
        <td><a routerLink="/places/{{place.place_id}}">{{place.name}}</a></td>
        <td>{{place.rating}}</td>
        <td>{{place.vicinity}}</td>
      </tr>
    </tbody>
</table>